:root {
    --smooth: 0.5s;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Comfortaa', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.is-primary {
    color: #7510F7;
}

.has-text-primary {
    color: #7510F7 !important;
}

.button.is-rounded {
    border-radius: 9999px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
}

.navbar-item a {
    border-width: 2px;
    font-weight: 400;
    font-size: 18px;
    padding: 1.2rem;
    color: #7510F7;
    border-color: #7510F7;
}

.navbar-item a:hover {
    background-color: #7510F7;
    border-color: #7510F7;
    color: #fff;
    transition: var(--smooth);
}

.css-1e2y1si>div {
    background: none;
}

.css-5p9vjy {
    width: 100%;
    padding-top: 66%;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0px auto;
}

.css-f7ay7b {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1h3rtzg {
    -webkit-box-align: center;
    align-items: center;
}

.css-zjik7 {
    display: flex;
}

.css-ln7vnr {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.css-f7ay7b {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1h3rtzg {
    -webkit-box-align: center;
    align-items: center;
}

.css-zjik7 {
    display: flex;
}

.css-joi6zj {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease 0s;
    border-radius: 10px;
    overflow: hidden;
}

.css-joi6zj::after {
    content: "";
    width: 200%;
    height: 200%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.25;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.css-1vs2kf0 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.css-1j8o68f {
    touch-action: none;
}

svg:not(:root) {
    overflow: hidden;
}

.section.is-primary {
    background-color: #7510F7;
    color: #fff;
}

a {
    color: #7510F7;
    font-weight: 400;
}

img {
    height: auto;
    max-width: 100%;
}

section.is-primary .title {
    color: #fff;
}

.columns {
    flex-wrap: wrap;
}

.section.is-primary .title {
    color: #fff;
}

footer .title {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.7;
}

footer .social-icons a.button {
    background-color: transparent;
    color: white;
    border-radius: 100%;
    margin: 0 0.2rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

footer .social-icons a.button:hover {
    background: white;
    color: #7510F7;
    border: 2px solid white;
}

footer .social-icons a.button {
    top: -8px;
}

.icon2:hover svg {
    fill: #7510F7 !important;
}